body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20rem;
}
.h1_title {
  font-family: "Roboto", serif;
  text-align: center;
}
.sketch-area {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}
.sketch-div {
  opacity: 0.1;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
.btn {
  width: 50px;
  height: 50px;
  border: solid 1px black;
  border-radius: 5%;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.btn:hover {
  transform: scale(110%);
}
.btn:active {
  transform: scale(90%);
}
.btn-black {
  background-color: #212121;
}
.btn-yellow {
  background-color: #ded010;
}
.btn-blue {
  background-color: #105bde;
}
.btn-red {
  background-color: #de102e;
}
.btn-green {
  background-color: #65de10;
}
